/**
 * Fuentes
 */
$rock-salt: "Rock Salt", cursive;
$monserrate: "Montserrat", sans-serif;

/**
 * Colores
 */
$color-primary: #00a7f4;
$color-secondary: #00539f;
$white: white;
$gray: gray;

/**
 * Sombras
 */
$box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

/**
* Bootstrap themig
*/
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
);

/**
* Customs for Breadcrumb
*/
$breadcrumb-border-radius: 0;
$breadcrumb-font-size: initial;
